.botonRegreso {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .btn {
      background: #48394f;
      align-items: center;
      border: none;
      z-index: 1;

    }
    .btn:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #423475;
      border-radius: 5px;
       box-shadow:
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      transition: all 0.3s ease;
    }
    .btn:hover {
      color: #fff;
    }
    .btn:hover:after {
        right: 0;
      left: 0;
      width: 100%;
    }
    .btn:active {
      top: 2px;
    }

.main-right{
    background-color: #E9E9E9;
    height: 100vh;
}

.right-image {
    width: 250px;
    margin-left: 230px;
    margin-top: 50px;
    border-radius: 150px;
}
